.root {

}

.menuButton {
    -fx-background-color: #fff; /* Белый цвет фона */
    -fx-text-fill: #5A5A5A; /* Темно-серый цвет */
    -fx-cursor: hand;
}

.menuButton:hover {
    -fx-background-color: #F0F8FF;
}

.menuButton:pressed {
    -fx-background-color: #E0E0E0;
}


.closeButton {
    -fx-background-color: #cc3352;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.closeButton:hover {
    -fx-background-color: #b22d47;
}

.closeButton:pressed {
    -fx-background-color: #cc3352;
}

.filterButton {
    -fx-background-color: #33CCAD;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.filerButton:hover {
    -fx-background-color: #2DB298;
}


.filterButton:pressed {
    -fx-background-color: #2DB298;
}


.classicButton {
    -fx-background-color: #fff;
    -fx-text-fill: #5a5a5a;
    -fx-cursor: hand;
}

.classicButton:hover {
    -fx-background-color: #efefef;
}
.classicButton:pressed {
    -fx-background-color: #d6d6d6;
}


